<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plan.name %>

  	<% @plan.terms.each do |term| %>
		<p><%=term.semester + term.year.to_s%> </p><br>
	<% end %>

</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
